/* The sidebar menu */
.sideNav {
  height: 100vh;
  width: 230px;
  top: 0;
  left: 0;
  background-color: #2f3b4c;
  color: #fff;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.logoBar {
  height: 80px;
  width: 230px;
  background-image: linear-gradient(#3668cb, #3668cb, #47a0eb);
}

.logoBar {
  cursor: pointer;
}

.logoAndBrandName {
  height: 120px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  margin-left: 30px;
}

.fittoImgLogo {
  margin-right: 15px;
}

.sideNav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;

  display: block;
}

.sideNav a:hover {
  color: #f1f1f1;
}

.navItemSection {
  margin-left: 14px;
}

.navItem {
  padding: 8px;
  padding-left: 16px;
}

.navItem img:hover {
  cursor: pointer;
}

.navItem span:hover {
  cursor: pointer;
}

.navItem:hover {
  background-color: red;
}

.logOutClause {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.logOutIconAndBtn {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
}

.hr {
  background-color: #9a9a9a;
  width: 100%;
  height: 1px;
}

.logOutBtn {
  border: none;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #2f3b4c;
  color: #fff;
}

@media screen and (max-height: 450px) {
  .sideNav {
    padding-top: 15px;
  }
  .sideNav a {
    font-size: 18px;
  }
}
